{
  "jsc": {
    "parser": {
      "syntax": "ecmascript",
      "jsx": true,
      "classPrivateProperty": true,
      "privateMethod": true
    },
    "transform": {
      "react": {
        "runtime": "automatic"
      }
    },
    "target": "es2020"
  }
}