[data-notify="progressbar"] {
    margin-bottom: 0px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 5px;
}

.hi-pagination {
    margin-bottom: 20px;
}

h4 > .hi-pointer {
    cursor: pointer;
    font-size: 11px;
}

.hi-nav-addScroll {
    height: 350px;
    overflow-y: auto;
    width: 100%;
}

.hi-home-btn {
    display: block;
    padding: 6px;
    border: none;
    margin-top: -5px;

}

.table-striped-custom tbody:nth-of-type(odd) {
    background-color: #f9f9f9;
}

.page {
    margin-left: -40px
}

.next {
    margin-left: -30px
}

.color {
    color: red;
}

.resizeform {
    resize: vertical;
    min-height: 50px;
}

.btn {
    border-width: 1px;
    border-color: #ccc;
}

.frmbdr {
    border-width: 1px;
    border-color: #ccc;
}

.form-inline-block {
    margin: 0 -15px;
    overflow: hidden;
}

.form-inline-block:not(:last-child) {
    margin-bottom: 15px
}

td > button.close {
    color: #2c3e50;
}

td > button.close:hover {
    color: #2c3e50;
}

@media (max-width: 768px) {
    .form-inline-block [class^=col-sm-]:not(:last-child) {
        margin-bottom: 15px;
    }
}

@media (min-width: 768px) {

    .form-inline-block [class^=col-sm-]:not(:first-child) {
        padding: 0 5px;
    }

    .form-inline-block [class^=col-sm-]:first-child {
        padding-right: 5px;
    }
}

.user-table td {
    position: relative;
}

.user-table td > .user-edit {
    position: absolute;
    right: 10px;
    top: 10px;
    display: none;
}

.table {
    table-layout: fixed;
}

.table td {
/ / white-space : nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table th {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user-table td:hover > .user-edit {
    display: block;
}

.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background-color: #000;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    word-wrap: break-word;
}

a.tooltip:hover span {
    position: absolute;
    color: #111;
    border: 1px solid #DCA;
    background: #fffAF0;
    word-wrap: break-word;
    width: 200px;
}
