*/.svn/*
.svn

\.svn\
\.svn
.classpath
.project
.settings/
*/target/*
!*/target/*.jar
!*/target/*.war

validation/pom.xml
validation/pom.xml
validation/src/main/java/com/helicalinsight/validation/form/GroovyCodeExecutionManager.java
validation/src/main/java/com/helicalinsight/validation/form/GenericValidation.java
validation/src/main/java/com/helicalinsight/validation/filter/ValidationFilter.java
validation/src/main/java/com/helicalinsight/validation/filter/ValidationFilter.java
validation/src/main/java/com/helicalinsight/validation/filter/ValidationFilter.java
