# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
client/node_modules
client/.pnp
client/.pnp.js

# testing
client/coverage

# production
client/build

# misc
client/.DS_Store
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local
migration/bin/.gitignore
migration/bin/**
migration/target/**

client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/jest-stare/index.html
client/jest-stare/jest-results.json
client/jest-stare/index.html
client/jest-stare/jest-results.json
client/jest-stare/css/bootstrap.min.css
client/jest-stare/index.html
client/jest-stare/jest-results.json
client/jest-stare/js/bootstrap.min.js
client/jest-stare/js/diff2html.min.js
client/jest-stare/js/holder.js
client/jest-stare/js/jquery.min.js
client/jest-stare/js/view.js

##############################
## Java
##############################
server/**/.mtj.tmp/
server/**/*.class
server/**/*.jar
server/**/*.war
server/**/*.ear
server/**/*.nar
server/**/hs_err_pid*

##############################
## Maven
##############################
server/**/target/
server/**/pom.xml.tag
server/**/pom.xml.releaseBackup
server/**/pom.xml.versionsBackup
server/**/pom.xml.next
server/**/pom.xml.bak
server/**/release.properties
server/**/dependency-reduced-pom.xml
server/**/buildNumber.properties
server/**/.mvn/timing.properties
server/**/.mvn/wrapper/maven-wrapper.jar


### DRIVERS ####
drivers/**/.settings/
drivers/**/bin/
drivers/**/tmp/
drivers/**/.metadata
drivers/**/.classpath
drivers/**/.project
drivers/**/target/


##############################
## IntelliJ
##############################
server/**/out/
server/**/.idea/
server/**/.idea_modules/
server/**/*.iml
server/**/*.ipr
server/**/*.iws

##############################
## Eclipse
##############################
server/**/.settings/
server/**/bin/
server/**/tmp/
server/**/.metadata
server/**/.classpath
server/**/.project
server/**/*.tmp
server/**/*.bak
server/**/*.swp
server/**/*~.nib
server/**/local.properties
server/**/.loadpath
server/**/.factorypath
##############################
## NetBeans
##############################
server/**/nbproject/private/
server/**/build/
server/**/nbbuild/
server/**/dist/
server/**/nbdist/
server/**/nbactions.xml
server/**/nb-configuration.xml

##############################
## Visual Studio Code
##############################
server/**/.vscode/
server/**/.code-workspace
*.log
/server/hi-repository/System/Reports/chrome
/server/hi-repository/System/Temp
/server/hi-repository/System/Cache
/server/db/
.env
/server/python/.idea
*.iml
client/.idea/vcs.xml
python/.idea/inspectionProfiles/profiles_settings.xml
python/.idea/inspectionProfiles/Project_Default.xml
python/.idea/misc.xml
python/.idea/vcs.xml
*.pyc
warupdate/.idea/vcs.xml
warupdate/.idea/misc.xml
warupdate/.idea/jarRepositories.xml
warupdate/.idea/compiler.xml
warupdate/.idea/**
docker/.idea/**
