create database if not exists $databaseName;

use $databaseName;

CREATE TABLE IF NOT EXISTS  $databaseName_$collection USING com.mongodb.spark.sql OPTIONS (db '$databaseName', collection '$collection');

use $databaseName;
