.hi-efw-viewer-container{
    .hi-efw-viewer-iframe{
        width: 100vw;
        height: 100vh;
        position: relative;
        border: none;
        display: block;
        // overflow: hidden;
    }
}