.ui-label-info.anticon,
.ui-label-info {
  margin-left: 5px;
  font-size: 10px !important;
  width: auto !important;
  height: auto !important;
  background: none !important;
  border-radius: 0 !important;
  color: rgba(0, 0, 0, 0.45) !important;
  cursor: pointer;
  vertical-align: middle;
}
