.beat-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.dot {
  border-radius: 50%;
  margin: 0 2px;
  opacity: 0.4;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.dot.active {
  opacity: 1;
  transform: translateY(-5px);
}
