@font-face {
    font-family: 'questrialregular';
    src: url('questrial-regular-webfont.woff2') format('woff2'),
         url('questrial-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}