$navbar-height: 40px;
// $cube-sctn-1-width: 25%;
$background-color: #e2f2fb;
$hi-yellow: #faad14;
$hi-red: #f5222d;
$hi-blue: #1890ff;
$hi-green: #52c41a;
$hi-white: #fff;
$hi-light-gray: #ddd;
$hi-background-blue: #e2f2fb;
$hi-white-smoke: #f1e5e5;
$hi-light-blue: #d9edf7;
$hi-light-pink: #c7254e;
$hi-warning-pink: #f2dede;
$hi-text-color: #555;
$hi-black: #000000;

// // @import '~antd/lib/style/themes/default.less';
// @import '~antd/dist/antd.dark.less'; // Introduce the official dark less style entry file
// // @import '~antd/dist/antd.compact.less';
// @import '~antd/lib/style/themes/default.less';
// @import '~antd/dist/antd.less';

// @primary-color: #f9fdee;
// @highlight-color: #030303;
// @body-background: #76bb1b;
// @btn-font-weight: 422;
